@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 0.875rem;
	background-color: #1c2432;
	color: #fff;
}

h1,
h3 {
	font-family: "Raleway", sans-serif;
}

.col h1 {
	max-width: 800px;
	margin: auto;
}

/*====================
    Navigation
=====================*/
.nav-logo {
	width: clamp(75px, 8vw, 150px);
	height: auto;
	cursor: pointer;
}

.gn {
	margin: auto;
	width: 95%;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gn-items {
	display: flex;
	list-style: none;
}

ul.gn-items {
	margin: 0;
}

.gn-items li {
	display: inline-block;
}

.gn-items li a {
	display: block;
	padding: 5px 12px;
	text-decoration: none;
	color: #fff;
}

.gn-items li a:hover {
	text-decoration: underline;
}

/*====================
    Helper
=====================*/
.is-flex {
	display: flex;
	justify-content: flex;
	align-items: center;
}

.container,
.service-container {
	margin: 0 auto;
	padding: 0 1.1rem;
}

.bnr-content {
	/* max-width: 500px; */
	margin: auto;
	padding-top: 2rem;
	padding-bottom: 5rem;
	text-align: center;
}

.container .bnr-content {
	position: relative;
	padding-bottom: 0;
}

.container .bnr-content .row {
	position: relative;
	justify-content: center;
	z-index: -2;
}

.intro-desc {
	margin: auto;
}

.intro-img,
.productive-img {
	max-width: 716px;
	margin-bottom: 30px;
}

.intro-desc h1 {
	font-family: "Raleway", sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	margin-bottom: 25px;
}

.intro-desc p {
	font-size: 1rem;
	line-height: 1.7rem;
	font-weight: 400;
	margin: 0 auto 30px;
}

.col h1 p {
	width: 500px;
}

.hero p {
	font-size: clamp(1rem, 2vw, 1.25rem);
}

.hero .text_content {
	background-image: url("../images/bg-curvy-desktop.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 75px;
	padding-bottom: 10rem;
}

.btn {
	width: 250px;
	padding: 15px;
	outline: none;
	border: none;
	border-radius: 30px;
	color: #fff;
	background: linear-gradient(125deg, rgb(101, 226, 217), rgb(51, 158, 204));
}

.btn:hover {
	background: #8adae3;
	text-decoration: none;
	color: #fff;
}

.bg-mobile {
	position: absolute;
	bottom: 0;
	left: -100px;
	width: calc(100vw + 100px);
	right: -30px;
	z-index: -1;
}

.bg-desktop {
	position: absolute;
	bottom: 0;
	left: -215px;
	width: calc(100vw + 215px);
	right: -30px;
	z-index: -1;
}

/*====================
    Service Section
=====================*/
.service-container {
	width: 100%;
	height: auto;
	position: relative;
	top: -220px;
	/* z-index: -1; */
}

.service {
	background-color: #181f2b;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 4rem 0;
}

.service .item {
	margin-bottom: 6.4rem;
	text-align: center;
}

.service .item img {
	width: auto;
	height: 94px;
}

.service .item h3 {
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.service .item p {
	max-width: 380px;
	margin: auto;
}
/*=========================
    Productive Section
==========================*/
.productive {
	padding: 20px auto;
	background-color: #181f2b;
}

.productive img {
	width: 100%;
}

.productive .content {
	max-width: 500px;
	padding-top: 42px;
}

.productive .content h3 {
	font-size: 1.75rem;
	font-weight: 700;
}

.productive .content a {
	width: fit-content;
	border-bottom: solid 1px #8adae3;
	text-decoration: none;
	color: #8adae3;
}

.productive .content a:hover {
	border-bottom: solid 1px #fff;
	color: #fff;
}

/*=========================
    Testimonial Section
==========================*/
.testimonial {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 5rem 2rem;
	background-color: #181f2b;
}

.content {
	position: relative;
}

.content .quote-img {
	position: absolute;
	top: -34px;
	left: -13px;
	z-index: 2;
}

.testimonial .comment {
	background-color: #202a3c;
	padding: 1.2rem 1.5rem;
	padding-top: 2rem;
	margin-bottom: 2rem;
	z-index: 3;
	position: relative;
}

.profile img {
	height: 30px;
	border-radius: 50%;
}

.personal-info .name {
	font-size: 0.9375rem;
	margin: auto;
}

/*======================
    Get Started Section
=======================*/
.get-started {
	background-color: #181f2b;
}

.card {
	background-color: #1b2330;
	box-shadow: 5px 5px 5px rgb(19, 25, 37);
	padding: 1.5rem;
	border-radius: 10px;
	position: relative;
	top: 100px;
	bottom: 0;
	z-index: -1;
	text-align: center;
	max-width: 60rem;
	margin: auto;
	z-index: 0;
}

.get-started p {
	max-width: 40rem;
	margin: auto;
	padding: 15px 0;
}

.get-started .input-info {
	padding: 6px 0px;
}

.get-started h3 {
	font-size: 1.5rem;
}

.input-info .btn-1 {
	margin: 5px;
	padding: 10px 30px;
	width: 100%;
	max-width: 275px;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	background: linear-gradient(125deg, rgb(101, 226, 217), rgb(51, 158, 204));
	color: #fff;
}

.input-info a {
	text-decoration: none;
}

.input-info input {
	margin: 5px;
	padding-left: 30px;
	width: 100%;
	max-width: 375px;
	height: 40px;
	border-radius: 25px;
	border: none;
	text-align: left;
	display: inline-block;
}

/*====================
      Footer
=====================*/

.footer {
	background-color: #0b1524;
	padding: 10rem 0 3rem;
}

.footer-logo {
	width: 90px;
}

.location-icon img {
	height: 30px;
}

.footer .location-icon p {
	font-size: 1.125rem;
}

.social img {
	height: 20px;
	width: auto;
}

.footer ul li {
	list-style: none;
	margin-top: 1rem;
}

.footer ul li a {
	color: #fff;
	text-decoration: none;
}

.footer ul li a:hover {
	font-weight: bold;
}

/*====================
      Icons
=====================*/
.social-icon {
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 1.1rem;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 10px;
}

.social-icon:hover {
	color: #40e0d0;
	border: 1px solid #40e0d0;
}

/*====================
     Media Query
=====================*/

@media (min-width: 568px) {
	.get-started h3 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	.hero .text_content {
		background-image: none;
		background-color: #181f2a;
	}
	.hero .img_content {
		background-image: url("../images/bg-curvy-mobile.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;
		padding-bottom: 4rem;
		padding-top: 3rem;
	}
}
